.navbar-container {
  height: 103px;
  width: 1440px;
}

.navbar-container .nav-bar-home {
  background-color: #0e0e0e;
  height: 113px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1560px;
}

.navbar-container .nav-bar {
  height: 51px;
  left: 23px;
  position: relative;
  top: 36px;
  width: 1310px;
}

.navbar-container .text-wrapper {
  color: #ffffff;
  font-family: "Inika-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 221px;
}

.navbar-container .div {
  color: #ffffff;
  font-family: "Inika-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 265px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 157px;
}

.navbar-container .text-wrapper-2 {
  -webkit-text-stroke: 1px #000000;
  color: #ffffff;
  font-family: "Inika-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 500px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1px;
  width: 267px;
}

.navbar-container .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inika-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 1143px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 157px;
}

.navbar-container .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inika-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  left: 873px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 97px;
}


