
  
  .genre {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
  }
  
.anime-genre {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 20px;
}

.anime-genre:nth-child(1) {
    border-color: #f43232;
}

.anime-genre:nth-child(2) {
    border-color: #ea81e6;
}

.anime-genre:nth-child(3) {
    border-color: #0795fc;
}
  

  
  /* Add additional CSS styles as needed for other elements */
  